#table{
    flex:1;
    display:flex;
    justify-content: center;
}
table { 
    border-collapse: collapse; 
}
table tr{
    padding:1rem;
}
table tbody tr:hover{
    cursor: pointer;
        color: white;
}
table td,
table th{
  padding:1rem .5rem;
  border: 1px solid #ddd;
}
table th{
    background-color: #eee;
}